<header>
    <img src="/img/the_simpsons.png" alt="">
    <nav>
        <ul>
            <li><a href="/favorite-quotes">Favorite Quotes</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
</header>